@font-face {
    font-family: 'Kugile';
    src: url('/fonts/kugile.regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserratarm-Light.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserratarm-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserratarm-Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Huninn';
    src: url('/fonts/Huninn-Regular.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Great Vibe';
    src: url('/fonts/GreatVibes-Regular.ttf');
}

@font-face {
    font-family: 'Maginia';
    src: url('/fonts/Maginia.otf');
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #fbf6f2;
}

h1,
h2 {
    margin: 0 0 24px 0;
    padding: 0;
    font-family: 'Kugile';
    font-weight: 200;
    font-size: 40px;
    color: #3a3737;
    opacity: 0;
}

h2 {
    position: relative;
    font-size: 50px;
}

h2 span {
    font-family: 'Great Vibe';
    font-size: 60px;
    position: absolute;
    width: max-content;
    display: inline-block;
}

h3 {
    margin: 0 0 24px 0;
    padding: 0;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 28px;
}

p {
    margin: 0;
    font-size: 18px;
    font-family: 'Montserrat';
    line-height: 150%;
    text-align: center;
    font-weight: 300;
}

.anim {
    opacity: 0;
}

.opening {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: #cccccc;
    box-shadow: 0 0 100px 10px #cccccc;
}

.opening-img {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 640px;
    height: 677px;
    border-radius: 16px;
    background-image: url('/img/IMG_2578.webp');
    background-size: 150%;
    background-position: 62% 28%;
    filter: grayscale(1) brightness(0.8);
}

.opening-text {
    /* position: absolute;
    top: 50px; */
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 30px;
    color: #fff;
}

.opening-btn {
    /* position: absolute;
    bottom: 50px; */
    padding: 16px 34px;
    border: 2px solid #fff;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    background-color: #ffffff49;
    cursor: pointer;
}

.opening-img svg {
    width: 250px;
    fill: #ffffff73;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px 0px;
    max-width: 640px;
    opacity: 0;
}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    margin-bottom: 50px;
}

.img1 {
    position: relative;
    width: 100%;
    height: 500px;
    margin-bottom: 24px;
    border-radius: 25px;
    background-image: url('/img/IMG_2580.webp');
    background-size: 120%;
    background-position: 94% 42%;
    filter: grayscale(.7) brightness(1);
    opacity: 0;
}

.wedding-date {
    position: absolute;
    top: 3%;
    right: 5%;
    display: flex;
    flex-direction: column;
    font-family: 'Huninn';
    font-size: 30px;
    color: #fff;
    overflow: hidden;
}

.wedding-date span {
    transform: translateX(120%);
}

.cl {
    font-size: 50px;
    font-family: 'Maginia';
}

.box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px;
    margin-bottom: 100px;
    border-radius: 12px;
    background-color: #1b1b1b;
}

.box2 h3 {
    color: #d1d1d1;
}

.box2 p {
    margin-bottom: 24px;
    color: #d1d1d1;
}

.calendar {
    width: 100%;
    height: 350px;
    background-image: url('/img/calendar.svg');
    background-repeat: no-repeat;
    background-position: center top;
}

.img2 {
    position: relative;
    width: 282px;
    height: 350px;
    margin-bottom: 100px;
}

.img2 * {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.img2-ico {
    background-size: 120%;
    background-position: 56% 38%;
    background-image: url('/img/IMG_2581.webp');
    filter: grayscale(.7) brightness(1);
}

.img2-decor {
    background-color: #dfdddb;
}

.locationHeader {
    margin-bottom: 80px;
}

.locationHeader span {
    top: 55%;
    left: 53%;
}

svg {
    margin-bottom: 10px;
}

.locationText {
    margin-bottom: 24px;
}

.locationText span {
    font-weight: 500;
}

.link {
    padding: 14px 32px;
    margin-bottom: 100px;
    border-radius: 16px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 18px;
    color: #fff;
    background-color: #3a3737;
}

.church {
    width: 252px;
    height: 233px;
    margin-bottom: 40px;
    background-image: url('/img/church.svg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.restaurant {
    width: 252px;
    height: 160px;
    margin-bottom: 40px;
    background-image: url('/img/restaurant.svg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.timingHeader {
    margin-bottom: 70px;
}

.timingHeader span {
    top: 70%;
    left: 60%;
}

.line {
    width: 2px;
    height: 75px;
    background-color: #3a3737;
}

.time {
    margin: 24px 0;
}

.time * {
    text-align: center;
}

.time div:nth-child(1) {
    margin-bottom: 14px;
    font-size: 40px;
    font-family: 'Huninn';
}

.time div:nth-child(2) {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 300;
}

.img3 {
    position: relative;
    width: 282px;
    height: 350px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.img3 * {
    position: absolute;
    width: 100%;
    height: 100%;
}

.img3-ico {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 25px;
    background-size: 120%;
    background-position: 56% 38%;
    background-image: url('/img/IMG_2579.webp');
    filter: grayscale(.7) brightness(1);
}

.img3-decor {
    border-radius: 25px;
    background-color: #dfdddb;
}

.img3 svg {
    width: 100px;
    height: auto;
    fill: #fff;
}